*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: rgb(114, 45, 121);
color: white;
    padding: 15px 20px;
}

.logo{
font-size: 1.5rem;
font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.actions a {
margin-left: 15px;
color: white;
text-decoration: none;
font-weight: bold;
}
@media (max-width: 769px) and (min-width: 1024px) {
    .nav-links {
        font-size: 0.9rem;
    }
}

@media (max-width: 479px) and (min-width: 0px) {
    .nav-links {
        display: none;
    }
}