element.style {
}
.form-card {
    background-color: white;
    border: 1px solid #dcdcdc;
    padding: 20px;
    border-radius: 6px;
}* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
user agent stylesheet
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}